html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Helvetica,Arial,sans-serif;
	text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
	color: #333;
	transition: all 1s ease-out;
	text-align: center;
}

#content {
	position: absolute;
	height: 720px;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}

#top {
	height: 35px;
}

#overlay {
	position: relative;
	background-color: #4270B5;
	width: 100%;
	height: 495px;
	transition: all 1s ease-out;
}

#below {
	visibility: hidden;
	opacity: 0;
	font-size: 2em;
	transition: all 1s ease-out;
	height: 190px;
	padding-top: 30px;
}

#chat {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 85%;
	transition: opacity 1s linear;
	overflow: auto;
	border: 1px solid #DDD;
	box-sizing: border-box;
    display: block;
    padding: 15px;
}
#chatForm {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 10%;
	margin-top: 3px;
	transition: opacity 1s linear;
}

#text {
	box-sizing: border-box;
	width: 91%;
	height: 100%;
	padding: 15px;
	border: 1px solid #DDD;
	float: left;
}

#subtext {
	font-size: 0.6em;
	padding-top: 20px;
}

#submit {
	box-sizing: border-box;
	float: right;
	width: 7%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #DDD;
	background-color: #FFF;
	cursor: pointer;
}
#submit:hover { background-color: #DDD; }

#linkBox, #startButton {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	box-sizing: border-box;
	color: #FFF;
	left: 0;
	right: 0;
	transition: opacity 1s linear;
	text-align: center;
	width: 220px;
	height: 60px;
	margin: 60px auto 0;
	border: solid 1px #FFF;
	padding: 10px;
	border-radius: 8px;
	background-color: #4270B5;
	line-height: 40px;
	cursor: pointer;
}

#startButton { font-size: 1.5em; z-index: 9; }
#startButton:hover, #startButton:active {
	color: #4270B5;
	background-color: #FFF;
}

#linkBox { z-index: 99; }

#title {
	font-size: 4em;
	font-weight: bold;
	color: #FFF;
	width: 100%;
	padding-top: 65px;
	transition: all 1s ease-out;
	a:visited;
}
#title > a:visited {
	color: #FFF;
}

a { text-decoration: none; }

#desc {
	box-sizing: border-box;
	text-align: center;
	visibility: hidden;
	position: relative;
	opacity: 0;
	font-size: 1.5em;
	color: #FFF;
	padding-top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 700px;
	transition: opacity 1s linear;
}

#chatWrapper {
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 140px auto;
	width: 800px;
	height: 550px;
	padding: 20px;
	z-index: 99;
	background-color: #FFF;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
	transition: all 1s ease-out;
}

#buttonHint, #buttonHint2 {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto 105px;
	color: #FFF;
	font-size: 0.8em;
	transition: all 1s ease-out;
}
#buttonHint2 {
	margin-bottom: 85px;
}

.you {
	color: #69F;
	font-weight: bold;
	width: 50px;
	vertical-align: top;
	display: inline-block;
}
.them {
	color: #F96;
	font-weight: bold;
	width: 50px;
	vertical-align: top;
	display: inline-block;
}

.message {
	width: 628px;
	display: inline-block;
	word-wrap: break-word;
}

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#typing {
	-webkit-animation: pulse linear 1s infinite;
	animation: pulse linear 1s infinite;
	visibility: hidden;
	opacity: 0;
	margin-top: 5px;
}
@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}